CMakeQt-*/**
*.msi
*.wixpdb
*.wixobj
*.cbp
*.exe
*.manifest
*.wxs
.idea/**
Makefile
src/Makefile
*.csproj
*.sln
CMakeQt_autogen/**
CMakeFiles/**
CMakeCache.txt
directory.wxs
cmake_install.cmake
cmake-build-release-msvc/**
